<mat-toolbar>
  <div class="space-between" >
    <span>Back office</span>
    <span>{{user?.firstName}}</span>
  </div>
</mat-toolbar>
<p>Statuses:</p>
<app-ticket-attribute-settings [ticketAttributeService]="ticketStatusesService"></app-ticket-attribute-settings>
<p>Priorities:</p>
<app-ticket-attribute-settings [ticketAttributeService]="ticketPrioritiesService"></app-ticket-attribute-settings>
<p>Categories:</p>
<app-ticket-attribute-settings [ticketAttributeService]="ticketCategoriesService"></app-ticket-attribute-settings>
<p>Invite user:</p>
<app-invite-user></app-invite-user>
